  <div class="row">
    <div class="bs-component">
      <div class="jumbotron t-jumbo t-about">
        <div class="row">
          <div class="col-lg-12"><br><br>
            <h1 class="about">Power Cells</h1>


            <p class="t-about-lead">Outil de design de convertisseurs DC focalisé sur les cellules de commutation</p>
            <p>&nbsp;</p><br><br><br><br><br>
          </div></div>
          
        </div>
        
      </div>
    </div>
     

    <div class="bs-docs-section" title="more">    
        <div class="row">
        <div class="col-lg-4">
          <div class="bs-component">
            <h2><i class="fa fa-dashboard"></i> Optimum</h2>
            <p class="text t-dark t-text-about">En fonction des principaux paramètres entrés par l'utilisateur, Power Cells trouve la paire de composants la plus efficace pour la cellule de commutation.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="bs-component">
            <h2><i class="fa fa-pencil"></i> Banc de test</h2>
            <p class="text t-dark t-text-about">Pour déterminer le rendement d’une cellule, il suffit d’en choisir les composants, d’entrer quelques caractéristiques et le tour est joué.<br />Power Cells fait le reste.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="bs-component">
            <h2><i class="fa fa-folder-open"></i> Biblioth&egrave;que</h2>
            <p class="text t-dark t-text-about">La bibliothèque comprend des modèles de transistors et diodes extraits des datasheets des fabriquants, 
            ainsi qu'une liste de différentes topologies et leurs equations. <br /></p>
          </div>
        </div>
      </div>

    </div>
    
    <div class="bs-docs-section">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h1 id="type">Boîte à outils</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <div class="bs-component">
   			<h3>Modèles</h3>
            <p class="text t-dark t-text-about">Cet outil permet d'extrapoler les données enregistrées dans le banc de test pour en construire un modèle plus global base sur l'équation suivante : 
            \(P = A I + B I^2 + (CUI + D U^2 + E I^2) \cdot F \) <br /> 
            Les courbes presentées permettent de visualiser l'évolution des pertes d'une cellule &agrave; tension et fréquence données, en fonction du courant.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="bs-component">
            <p><img src="img/models.jpg" class="img-responsive" /></p>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
          <div class="bs-component">
            <h3>Historique</h3>
            <p class="text t-dark t-text-about">On y trouve l'ensemble des tests effectués dans le banc de test puis enregistrés, qui serviront a établir les modèles de l'outil précédent. 
            L'utilisateur peut consulter et supprimer les tests, si par exemple certains venaient &agrave; &ecirc;tre défectueux et &agrave; faire degenerer le mod&egrave;le d'une cellule.</p>
          </div>
        </div>
      </div>
    </div>
    
        <div class="bs-docs-section">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h1 id="type">Resources</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
        	Documents ayant servi &agrave; la réalisation de l'application : <br />
        	<a href="resources/Hermes-89-092.pdf">Hermes-89-092.pdf</a> <br />
        	<a href="resources/Pertes_switch_hexfet_IRHNA67164_dual_5.xls">Pertes_switch_hexfet_IRHNA67164_dual_5.xls</a> <br />
        	<a href="resources/Gan_COTS_RFMD_paral_test_9.xls">Gan_COTS_RFMD_paral_test_9.xls</a> <br />
        	<a href="resources/Gan_COTS_RFMD_boost_9.xls">Gan_COTS_RFMD_boost_9.xls</a> <br />
        	<br />
        	Rapports de stage : <br />
        	<a href="resources/Rapport.pdf">Rapport écrit</a> <br />
        	<a href="resources/Presentation.pdf">Présentation orale</a> <br />
        </div>
      </div>
  </div>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  